MCP: Unable to authenticate with servers that contain query parameters

### Before opening, please confirm:


- [x] I have [searched for duplicate or closed issues](https://github.com/kirodotdev/Kiro/issues?q=is%3Aissue+)

### Operating System

MacOS 15.6.1

### Kiro Version

0.5.9

### Bug Description

When authenticating with remote MCP server that contains query parameters in the URL, Kiro attempts to open the browser to an invalid URL where the OAuth `resource` has been URI encoded twice, causing authorization to fail on the server.

### Steps to Reproduce

Configure the [Supabase MCP server](https://supabase.com/mcp) in read-only mode:

```jsonc
// .kiro/settings/mcp.json

{
  "mcpServers": {
    "supabase": {
      "url": "https://mcp.supabase.com/mcp?read_only=true"
    }
  }
}
```

In the MCP Servers view click to "Authenticate" the Supabase server.

When prompted, click to "Open" the authorization URL

<img width="250" alt="Image" src="https://github.com/user-attachments/assets/8830f9ec-b09e-4b8e-94e3-5f31ed73372c" />

The browser opens a URL with a double encoded `'?'` in the `resource` parameter:

```
https://api.supabase.com/v1/oauth/authorize?resource=https://mcp.supabase.com/mcp%253Fread_only=true&...
```

Running the following in a JavaScript environment shows the `'?'` is encoded twice:
```ts
decodeURIComponent(
  decodeURIComponent("%253F")
)

// result: '?'
```

This causes the authentication flow to fail:

<img width="500"  alt="Image" src="https://github.com/user-attachments/assets/d34006b5-bb13-44b6-b2aa-7f260fd8718f" />

### Expected Behavior

I expect the browser to open a URL containing a `resource` query parameter that is encoded only once

```
https://api.supabase.com/v1/oauth/authorize?resource=https%3A%2F%2Fmcp.supabase.com%2Fmcp%3Fread_only%3Dtrue&...
```

I expect authentication with `https://mcp.supabase.com/mcp?read_only=true` to succeed.

### Conversation ID

_No response_

### Additional Context

**References**
- [RFC 8707 Section 2 - Resource Indicators for OAuth 2.0](https://www.rfc-editor.org/rfc/rfc8707#section-2)
- [RFC3986 Section 4.3 - URI Generic Syntax](https://www.rfc-editor.org/rfc/rfc3986#section-4.3)

RFC 8707 makes a note that while query components are discouraged in resource URIs, they should still be supported.

> _It SHOULD NOT include a query component, but it is recognized that there are cases that make a query component a useful and necessary part of the resource parameter_

**Notes**
- If I instead "Copy" the URL in the prompt instead of "Open", a correctly encoded `resource` URI is copied. It's only when I "Open" the URL that authentication fails.
- For comparison, Cursor encodes this as `resource=https%3A%2F%2Fmcp.supabase.com%2Fmcp%3Fread_only%3Dtrue`